<h1>Edit <%= @user.name %></h1>
<p>
  <form action="/users/<%= @user.id %>/update" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="string" name="name" value="<%= @user.name %>">
    <input type='submit' value='Create a human'>
</from>
</p>
